---
title: Eventd, Cron for the 21st Century.
---

<section class="hero">
	<div class="container">
		<header class="clearfix">
			<h1><a href="#" class="brand">eventd</a></h1>
			<nav>
				<a href="#" class="login">Login</a>
			</nav>
		</header>
		
		<div class="content center">
			<p><img src="../images/brand-icon.png" alt="eventd">
			<h1>Cron for the 21st Century</h1>
			<p>Eventd, an API that schedules callbacks to your server, is more than just a daemon. It’s a solution to the scheduling problem.</p>
		</div>
	</div>
</section>

<section class="email_list center">
	<div class="container">
		<div class="content inner">
			<h2>Schedule Your First Callback</h2>
			<p>Be among the first to have access to Eventd by signing up for our email list. In addition, we’ll keep you in the loop about release updates.</p>
			
			<form>
				<div class="input-group">
			      <input type="text" class="form-control" placeholder="Enter your email">
			      <span class="input-group-btn">
			        <button class="btn btn-submit" type="button">Submit</button>
			      </span>
			    </div>
			</form>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<div class="inner clearfix">
			<ul class="list-inline">
				<li>&copy; 2014</li>
				<li>eventd is humbly made in Colorado</li>
				<li><%= link_to "@eventd_io", "http://twitter.com/eventd_io/" %></li>
			</ul>
		</div>
	</div>
</footer>
